@import './theme.scss';

.MovieContainer {
    background: $secondaryBg;
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $md) {
        width: 640px;
        height: 390px;
        border-radius: 15px;
    }
}