@import './theme.scss';

.Poster {
    width: $posterWidth;
    height: $posterHeight;
    border-radius: 4px;

    &__isExpanded {
        width: $posterWidthExpanded;
        height: $posterHeightExpanded;
        border-radius: 4px;  
    }
}