@import 'theme';

.Root {
    background-color: $primaryBg;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    

    &:before {
        content: 'NATFLAX';
        position: fixed;
        top: 18vh;
        left: 10vw;
        font-size: 9vw;
        color: rgba(255,255,255,.02);
    }
}



