// Colors
$primaryBg: #333852;
$secondaryBg: #282a31;

// Breakpoint
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

// img Breakpoit
$posterWidth: 127px;
$posterHeight: 191px;
$posterWidthExpanded: "229px";
$posterHeightExpanded: "316px";